node-red/flow.json
[
    {
        "id": "78cdf53a.7b1384",
        "type": "tab",
        "label": "TTN",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4f418188.39919",
        "type": "function",
        "z": "78cdf53a.7b1384",
        "name": "logic",
        "func": "// Get the target value\nvar target = parseInt(flow.get('mode'));\n\n// Process only if auto mode\nif (target == 2) {\n    target = msg.payload.relay;\n    var min = flow.get('min_temperature') || 18;\n    var max = flow.get('max_temperature') || 21;\n    if (msg.payload.temperature > max) target = false;\n    if (msg.payload.temperature < min) target = true;\n}\n\n// To bool\ntarget = (1 == target);\n\n// If no change return null object\nif (target == msg.payload.relay) return null;\n\n// Otherwise return target\nmsg.payload = target;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 200,
        "wires": [
            [
                "caaad26d.e920c"
            ]
        ]
    },
    {
        "id": "69fff57e.bb17ec",
        "type": "debug",
        "z": "78cdf53a.7b1384",
        "name": "event",
        "active": false,
        "tosidebar": true,
        "console": false,
        "complete": "true",
        "x": 290,
        "y": 80,
        "wires": []
    },
    {
        "id": "572c6cc8.2f8eac",
        "type": "debug",
        "z": "78cdf53a.7b1384",
        "name": "uplink",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 290,
        "y": 140,
        "wires": []
    },
    {
        "id": "2ddcf475.ac728c",
        "type": "debug",
        "z": "78cdf53a.7b1384",
        "name": "downlink",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 920,
        "y": 80,
        "wires": []
    },
    {
        "id": "31f2dacd.a9a9b6",
        "type": "ttn device",
        "z": "78cdf53a.7b1384",
        "name": "ttn event",
        "app": "eb7ef383.ac8618",
        "dev_id": "mkrwan1300",
        "event": "activations",
        "x": 120,
        "y": 80,
        "wires": [
            [
                "69fff57e.bb17ec"
            ]
        ]
    },
    {
        "id": "3ea63888.d09a7",
        "type": "ttn send",
        "z": "78cdf53a.7b1384",
        "name": "ttn downlink",
        "app": "eb7ef383.ac8618",
        "dev_id": "mkrwan1300",
        "port": "12",
        "x": 930,
        "y": 160,
        "wires": []
    },
    {
        "id": "a44c2309.760bb8",
        "type": "ttn message",
        "z": "78cdf53a.7b1384",
        "name": "ttn.uplink",
        "app": "eb7ef383.ac8618",
        "dev_id": "mkrwan1300",
        "field": "",
        "x": 120,
        "y": 140,
        "wires": [
            [
                "572c6cc8.2f8eac",
                "4f418188.39919",
                "a6dcebc8.a6b56",
                "71a5f3ff.7d5a9c"
            ]
        ]
    },
    {
        "id": "cc5d4577.bca318",
        "type": "inject",
        "z": "78cdf53a.7b1384",
        "name": "initial",
        "topic": "",
        "payload": "2",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 130,
        "y": 400,
        "wires": [
            [
                "ac5c73d5.d49a68"
            ]
        ]
    },
    {
        "id": "283a0e20.129a1a",
        "type": "ui_gauge",
        "z": "78cdf53a.7b1384",
        "name": "temperature",
        "group": "cbb61f50.07cd4",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "C",
        "format": "{{value}}",
        "min": "-10",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "18",
        "seg2": "21",
        "x": 550,
        "y": 320,
        "wires": []
    },
    {
        "id": "a6dcebc8.a6b56",
        "type": "change",
        "z": "78cdf53a.7b1384",
        "name": "temperature",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temperature",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 320,
        "wires": [
            [
                "283a0e20.129a1a"
            ]
        ]
    },
    {
        "id": "71a5f3ff.7d5a9c",
        "type": "change",
        "z": "78cdf53a.7b1384",
        "name": "relay",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.relay",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 260,
        "wires": [
            [
                "2b134a42.9e8076"
            ]
        ]
    },
    {
        "id": "2b134a42.9e8076",
        "type": "ui_switch",
        "z": "78cdf53a.7b1384",
        "name": "heater",
        "label": "Heater status",
        "group": "cbb61f50.07cd4",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 530,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "c534c53c.4e93e8",
        "type": "change",
        "z": "78cdf53a.7b1384",
        "name": "set_min_temperature",
        "rules": [
            {
                "t": "set",
                "p": "min_temperature",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "d0d0e9f.dec2398",
        "type": "change",
        "z": "78cdf53a.7b1384",
        "name": "set_max_temperature",
        "rules": [
            {
                "t": "set",
                "p": "max_temperature",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "8cf602f3.0b982",
        "type": "ui_text_input",
        "z": "78cdf53a.7b1384",
        "name": "min_temperature",
        "label": "Turn heater on when below",
        "group": "cbb61f50.07cd4",
        "order": 4,
        "width": "4",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "",
        "x": 330,
        "y": 460,
        "wires": [
            [
                "c534c53c.4e93e8"
            ]
        ]
    },
    {
        "id": "9fbcc441.0c0818",
        "type": "ui_text_input",
        "z": "78cdf53a.7b1384",
        "name": "max_temperature",
        "label": "Turn heater off when above",
        "group": "cbb61f50.07cd4",
        "order": 5,
        "width": "4",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "",
        "x": 330,
        "y": 520,
        "wires": [
            [
                "d0d0e9f.dec2398"
            ]
        ]
    },
    {
        "id": "133d4b53.414b75",
        "type": "inject",
        "z": "78cdf53a.7b1384",
        "name": "initial",
        "topic": "",
        "payload": "18",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 130,
        "y": 460,
        "wires": [
            [
                "8cf602f3.0b982"
            ]
        ]
    },
    {
        "id": "8c538a1c.002df",
        "type": "inject",
        "z": "78cdf53a.7b1384",
        "name": "initial",
        "topic": "",
        "payload": "21",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 130,
        "y": 520,
        "wires": [
            [
                "9fbcc441.0c0818"
            ]
        ]
    },
    {
        "id": "ac5c73d5.d49a68",
        "type": "ui_dropdown",
        "z": "78cdf53a.7b1384",
        "name": "heater_mode",
        "label": "Heater mode",
        "place": "Select option",
        "group": "cbb61f50.07cd4",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "OFF",
                "value": 0,
                "type": "num"
            },
            {
                "label": "ON",
                "value": "1",
                "type": "str"
            },
            {
                "label": "AUTO",
                "value": "2",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 320,
        "y": 400,
        "wires": [
            [
                "5e140f20.a5af9"
            ]
        ]
    },
    {
        "id": "5e140f20.a5af9",
        "type": "change",
        "z": "78cdf53a.7b1384",
        "name": "set_mode",
        "rules": [
            {
                "t": "set",
                "p": "mode",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 400,
        "wires": [
            [
                "679a9c20.c2254c"
            ]
        ]
    },
    {
        "id": "973bfdce.ac2cf8",
        "type": "function",
        "z": "78cdf53a.7b1384",
        "name": "build_downlink",
        "func": "return {\n    dev_id: msg.dev_id,\n    port: msg.port,\n    schedule: \"replace\",\n    confirmed: false,\n    payload: Buffer.from([msg.payload ? 0x31 : 0x30])\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 720,
        "y": 120,
        "wires": [
            [
                "2ddcf475.ac728c",
                "3ea63888.d09a7"
            ]
        ]
    },
    {
        "id": "8faa1fa7.6df56",
        "type": "link in",
        "z": "78cdf53a.7b1384",
        "name": "schedule",
        "links": [
            "caaad26d.e920c",
            "e7b29bd5.0c203"
        ],
        "x": 555,
        "y": 120,
        "wires": [
            [
                "973bfdce.ac2cf8"
            ]
        ]
    },
    {
        "id": "caaad26d.e920c",
        "type": "link out",
        "z": "78cdf53a.7b1384",
        "name": "",
        "links": [
            "8faa1fa7.6df56"
        ],
        "x": 495,
        "y": 200,
        "wires": []
    },
    {
        "id": "e7b29bd5.0c203",
        "type": "link out",
        "z": "78cdf53a.7b1384",
        "name": "",
        "links": [
            "8faa1fa7.6df56"
        ],
        "x": 935,
        "y": 400,
        "wires": []
    },
    {
        "id": "679a9c20.c2254c",
        "type": "switch",
        "z": "78cdf53a.7b1384",
        "name": "if_manual",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 800,
        "y": 400,
        "wires": [
            [
                "e7b29bd5.0c203"
            ]
        ]
    },
    {
        "id": "eb7ef383.ac8618",
        "type": "ttn app",
        "z": "",
        "appId": "CHANGE THIS",
        "region": "eu",
        "accessKey": "CHANGE THIS"
    },
    {
        "id": "cbb61f50.07cd4",
        "type": "ui_group",
        "z": "",
        "name": "Thermostat",
        "tab": "dd1f3692.7a1d7",
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "dd1f3692.7a1d7",
        "type": "ui_tab",
        "z": "",
        "name": "TTN.cat",
        "icon": "dashboard"
    }
]
